name: CI

on: [push, pull_request]

jobs:
  test:
    name: >-
      Test (${{ matrix.os }} ${{ matrix.ruby }})
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        ruby:
          - 2.3
          - 2.4
          - 2.5
          - 2.6
          - 2.7
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
          - jruby
          - truffleruby
        exclude:
          - os: windows
            ruby: jruby
          - os: windows
            ruby: truffleruby
          - os: macos
            ruby: 2.3
          - os: macos
            ruby: 2.4
          - os: macos
            ruby: 2.5
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake
      - uses: codecov/codecov-action@v5
        if: ${{ matrix.os == 'ubuntu' && matrix.ruby == '4.0' }}
        with:
          files: ./coverage/coverage.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
